html {
    min-height: 100%;
}

body {
    font: 12px;
    font-family: Georgia, Times, "Times New Roman", serif;
    background: linear-gradient(to top, #FFFFFF 0%, #C7C7C7 70%);
}

h1, h2 {
    margin: 0;
    padding: 0;
    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
    text-align: right;
}

#container {
    margin: 20px auto 0 auto;
    width: 800px;
}

#header {
    margin: 30px 0;
    padding: 10px 20px;
    border: #000000 2px solid;
    border-radius: 20px;
    background: #AAA;
    box-shadow: 3px 5px 5px 0px #333;
}

#content > div {
    margin-top: 20px;
    padding: 10px 20px;
    border: #000000 2px solid;
    border-radius: 20px;
    background: #AAA;
    box-shadow: 3px 5px 5px 0px #333;
}

#content > div h2 {
    margin: 5px 10px 0 0;
}

#content > div:hover {
    position: relative;
    top: +2px;
    left: +2px;
    box-shadow: 1px 2px 2px 0px #333;
    cursor: pointer;
}

ul#footer {
    list-style-type: none;
    text-align: right;
    font-size: 8px;
    margin: 15px 20px 0 0;
}

ul#footer li {
    display: inline;
}

ul#footer li:not(:first-child):before {
    content: ' - ';
}
